:root {
    --primary-accent:rgb(42, 115, 121);
    --accent-gray:#e3e3e3;
    --accent-dark-gray:#222224;
    --accent-mid-gray:#4a4a4e;

}

/* Main page styles*/

body {
    background-color: white;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;


}

.slideshow {
    padding:2%;
    height:500px;
    background-color: var(--accent-dark-gray);
    position:relative;
}

.slideshow div {
    margin-left: auto;
    margin-right: auto;
}

.topbar {
    background-color: var(--accent-dark-gray);
    position: sticky;
    top:0;
    color:white;
    z-index: 3;

}

.slideshow-pic {
    height:100%;
    position:relative;

    width:100%;
    object-fit:cover;
    border-radius:12px;
    border: solid white;


}

.slide {
    margin-left:auto;
    margin-right:auto;
    border-radius:12px;

    color: white;
    background-color: var(--accent-mid-gray);

    max-width:1200px;
    height:90%;


}

.slideshow-text {
    padding:2%;
    width: 30%;
    bottom:0;

}

#slides > * {position:absolute; top:0; left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  animation: 12s autoplay2 infinite ease-in-out}

@keyframes autoplay2 {
  0% {left: 100%; z-index:1; opacity: 0%;}
  0.1% { opacity: 100%}
  4% {left: 0%}
  33.33% {left: 0%}
  37.33% {left: -200%; opacity: 100%;}
  37.38% {opacity:0;}
  100% {left: -200%}
}

#slides > *:nth-child(1) {animation-delay: 0s}
#slides > *:nth-child(2) {animation-delay: 4s}
#slides > *:nth-child(3) {animation-delay: 8s}

/*Main page end*/

/*text styles*/
h2, h3, li, p, div, button {
    font-family: "Work Sans", serif;
    font-weight: 300;

}

li, div {
    font-size: 16px;
}

h3 {
    font-size:25px;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    font-weight: 400;
}

h1 {
    font-size: 50px;
    font-weight: 400;
}

/* end text styles*/



/* Button Styles */
.btn {
    background-color: var(--primary-accent);
    color: white;
    border:solid;
    border-radius:0;
}

.btn:hover {
    background-color: white;
    color: var(--primary-accent);
}

.btn:active .btn:focus {
    background-color: white;
}

.btn-left-end {
    border-radius: 40px 0 0 40px ;
    border-left: solid;
}

.btn-right-end {
    border-radius: 0 40px 40px 0;
    border-right: solid;
}

.buttons-container {
    margin-left: auto;
    margin-right: auto;


}


.contact-btn {
    color: white;
}

.contact-btn:hover {
    color: var(--primary-accent);
}

.project-buttons {
    position:relative;
    bottom:0;
    width:100%;

}

.slideshow-buttons {
    position:relative;
    bottom:0;
    width:40%;
    min-width:400px;

}

.content-btn {
    margin-top:1%;
    margin-bottom:1%;
    width: 30%;
    min-width: 300px;

}



/* Button styles end */

/* About page styles */

.about-page {
    padding: 2%;
    margin-left:auto;
    margin-right:auto;
    max-width:1200px;

}
.gray-rec {

    background-color: var(--accent-gray);
    border-radius: 12px;
    border-style: solid;
    border-color: var(--primary-accent);
    border-width: 0 0 0 5px;
    height: 500px;
    max-width: 700px;
    min-width: 300px;
    margin-top: 2%;

}

.q-lists {
    border-style: solid;
    border-color: var(--primary-accent);
    border-width: 0 0 0 5px;

}

.skillset {
    height: 100px;
    overflow: auto;
}

.empty-rec {

    border-radius: 12px;
    border-width: 0 0 0 5px;
    height: 500px;
    max-width: 700px;
    margin-top: 2%;
    min-width: 300px;
}

.empty-rec p {
    text-justify: auto;
}

/* About page styles end */

/* Projects page styles */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-layout {
    gap: 16px;
  width:80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 10px;
}

.project-name h3{
    margin:0;

}

.project-preview {
    background-color: var(--accent-gray);
  width: 100%;
  max-width: 420px;
  height:fit-content;
  min-height: 420px;
  border-radius: 12px;
  flex-shrink:0;


}

.thumbnail {
    width: 100%;
    height:250px;
    border-radius: 12px;
    position:relative;
}


.bubble-div {
    background-color: var(--primary-accent);
    color: white;
    border:solid;
    border-radius:20px;

    width:fit-content;
    padding:1%;

}

.thumbnail img, video { 
    width: 100%;
    height:240px;
    border-radius: 10px;
    object-fit: cover;
}

    .videoFrame {
        width: 1024px; /* Adjust this width as needed */
        height: 640px; /* Adjust this height as needed */
        background-color: #f0f0f0; /* Just for visualization */
        margin: 0 auto; /* This will center the div horizontally */
        text-align: center; /* This will center the content inside the div */
    }

.blur-img {
    filter:blur(6px);
}

.overlay {

    position:absolute;
    top:0;
    left:0;
    border: white solid;
    border-radius: 12px;

    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.6); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    overflow:auto;
}

.preview-overlay {
    display:none;
        padding:2%;
    width: 100%;
    height:240px;
    border-radius: 10px;

}

.slideshow-overlay {
    bottom: 0;
}

.skills-div {
    background-color:white;
    color: var(--primary-accent);
    border-color: var(--primary-accent);
    width: fit-content;
    padding:1%;
}


/* Projects page styles end */

/* Individual Projects pages styles */
.large-thumbnail {
    border: solid 4px white;
    height: 400px;
    width: 100%;
    
}

.small-thumbnail {
    border: solid 4px white;
    height: 400px;
    width: 300px;
    object-fit:cover;
}

.portfolio-section {
    width: 80%;
    max-width:1200px;
    padding: 2%;
    text-align:justify;
    text-justify:none;
}

.portfolio-section .title {
    text-align:center;
}

.portfolio-half {
    padding:2%;
    text-align:left;
    width:49%;
    overflow:auto;
}

.width100 {
    width:100%;
}

/*  Individual Projects pages styles ends */


.sitefooter {
    /* margin-top: 50%; */
    bottom:0;
    width: 100%;
    height: 50px;


    justify-content: center;
    background-color: var(--primary-accent);
    color:white;
}