.placeholder {
    background-color: red;
}

.anotherClass {
    background-color: lightseagreen;
}

.container {
    background-color: lightblue;
}

.nav-link-wrapper {
    background-color: palegoldenrod;
}